<h1  mat-dialog-title style="text-align: center;">EXPORT DATA</h1>
<div mat-dialog-content style="font-size: 18px; margin-left: 30px;">
  Select a Format
  <select name="cars" id="cars" style="height: 33px; border: none;">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
</div>
<div mat-dialog-actions>
  <button class="button-cancel" mat-button mat-dialog-close>Cancel</button>
  <button class="button-export" mat-button mat-dialog-close>Export</button>
</div>