<!-- <app-angular-design></app-angular-design> -->
 <!-- <router-outlet></router-outlet> -->
<!-- <app-abc></app-abc> -->
<!-- <app-design></app-design> -->
<!-- <app-dialog-box></app-dialog-box> -->

<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<!-- <app-grid-list></app-grid-list> -->
<!-- ng serve
 -->
<!-- <app-template-second></app-template-second> -->
<!-- <app-drop-down-work></app-drop-down-work> -->
 <!-- url="https://jsonplaceholder.typicode.com/todos"; -->
 <!-- <app-input></app-input> -->
  <!-- <app-angular-materials></app-angular-materials> -->
  <!-- <app-new-design></app-new-design> -->
  <!-- <app-new-table></app-new-table> -->
  <!-- <app-chart></app-chart> -->
  <!-- <app-mind-ui></app-mind-ui> -->
  <app-informatics></app-informatics>
  <!-- <app-pagination></app-pagination> -->
  <!-- <app-csv-file></app-csv-file> -->







