
<app-app-header></app-app-header>

<div class="main-container">
  <div fxLayout class="sub-container">
            <!-- content shows in left side -->
      <div fxFlex="20%" class="left-container">
            <!-- <h2>LIST OF PROJECT</h2> -->
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
                <div class="redirect-link1">
                   <a routerLink=""> /App/data/local/configuration.py </a>
                </div>
          </mat-list-option>
          <mat-list-option >
              <mat-list-item>Configuration</mat-list-item>
                 <div class="redirect-link1">
                      <a routerLink=""> /App/data/local/configuration.py </a>
                  </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
          <mat-list-option >
            <mat-list-item>Configuration</mat-list-item>
              <div class="redirect-link1">
                 <a routerLink=""> /App/data/local/configuration.py </a>
              </div>
          </mat-list-option>
        </mat-selection-list>    
      </div>
    
            <!-- content shows in ri8 side -->
      <div fxFlex="80%" class="right-container">
        <div style="margin-top: 10%;color: #216373;">
            <div style="align-items:center;margin-top: -50px;">
                <img src="assets/image/multiscale-logo-horizontal.png"  width="500" style="margin-bottom: 30px;" >
                   <h1>Multiscale Technologies</h1>
            </div>
            <div class="redirect-link1">
               <mat-icon class="folder">brightness_low</mat-icon>
                  <a routerLink="/input"> Create New Project </a>
            </div>
            <div class="redirect-link2">
                <mat-icon class="folder">folder</mat-icon>
                    <a routerLink=""> Open New folder </a>
            </div>
            <div class="redirect-link2">
                <mat-icon class="checkout">forward</mat-icon>
                  <a routerLink=""> Checkout Version  </a>
            </div>
                  
                 
        </div>
        
      </div>
  </div>
</div>
    
 
