<app-app-header></app-app-header>
<div class="main-container">
    <div fxLayout class="sub-container">
              <!-- content shows in left side -->
        <div fxFlex="20%" class="left-container">
              <!-- <h2>LIST OF PROJECT</h2> -->
            
        </div>
      
              <!-- content shows in ri8 side -->
        <div fxFlex="80%" class="right-container">
            <div fxLayout  fxLayoutAlign="center center">
                <div fxFlex="50%" class="box">
            
                    <button class="back-button" routerLink="">
                        <mat-icon>reply</mat-icon>
                    </button>
                   <div class="form-field">
                        <div style="align-items:center;">
                            <img src="assets/image/multiscale-logo-horizontal.png"  width="300" style="margin: 30px;" >      
                        </div>
                        <form>
                          <input type="text" placeholder="Project Name">
                        </form>
                       <button  type="submit" class="btn-submit ">Submit</button>
                   </div>
                  
                   
       
                </div>
            </div>   
         
        </div>
    </div>
  </div>
