<div class="main">
    <div class="top" >
        <h2 class="top-text">Select Interests
            <i  class="glyphicon glyphicon-remove" style="color: white; float: right; margin-right: 10px;">
            </i>
        </h2>
    </div> 
    <div style=" margin: 20px 20px;">
       <span>
         <a href="#">
            <button class="button-close">APPLES
              <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
              </i>
           </button>
          </a>
       </span>
       <span>
         <a href="#">
            <button class="button-add">FRUIT
              <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
              </i>
           </button>
         </a>
       </span>
       <span>
         <a href="#">
            <button class="button-add">FRUIT
              <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
              </i>
           </button>
         </a>
       </span>
       <span>
         <a href="#">
            <button class="button-add">FRUIT
              <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
              </i>
           </button>
         </a>
       </span>
    </div> 
    <div class="space-bttn">
        <span>
            <a href="#">
               <button class="button-add">FRUIT
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
          <span>
            <a href="#">
               <button class="button-add">VEGIES
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
          <span>
            <a href="#">
                <button class="button-leaf">LEAFY GREENS
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
    </div>  
    <div class="space-bttn">
          <span>
            <a href="#">
               <button class="button-add">FRUIT
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
          <span>
            <a href="#">
               <button class="button-add">FRUIT
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
          <span>
            <a href="#">
               <button class="button-add">FRUIT
                 <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
                 </i>
              </button>
            </a>
          </span>
          <span>
            <a href="#">
              <button class="button-close">PEARS
                <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
                </i>
              </button>
            </a>
         </span>
    </div> 
    <div class="space-bttn">
      <span>
        <a href="#">
         <button class="button-close">DILL
          <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
          </i>
         </button>
        </a>
      </span>
       <span>
          <a href="#">
             <button class="button-add">FRUIT
               <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
       </span>
        <span>
          <a href="#">
             <button class="button-add">FRUIT
               <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
        </span>
        <span>
          <a href="#">
             <button class="button-add">FRUIT
               <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
        </span>
    </div> 
    <div class="space-bttn">
       <span>
          <a href="#">
             <button class="button-add">FRUIT
               <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
        </span>
        <span>
          <a href="#">
             <button class="button-close">VEGIES
               <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
        </span>
        <span>
          <a href="#">
              <button class="button-leaf">PINK LADY
               <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
               </i>
            </button>
          </a>
        </span>
    </div>  
    <div class="space-bttn">
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">MINT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-close">CHIVES
             <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
             </i>
          </button>
         </a>
      </span>
   </div> 
   <div class="space-bttn">
    <span>
      <a href="#">
          <button class="button-leaf">PINK LADY
           <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
           </i>
        </button>
      </a>
    </span>
     <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
  </div> 
  <div class="space-bttn">
    <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-close">BASIL
             <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
            <button class="button-leaf">LEAFY GREENS
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
  </div> 
  <div class="space-bttn">
    <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
  </div>
  <div class="space-bttn">
    <span>
      <a href="#">
       <button class="button-close">DILL
        <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
        </i>
       </button>
      </a>
    </span>
     <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
  </div>
  <div class="space-bttn">
    <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-close">VEGIE
             <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
            <button class="button-leaf">PINK LADY
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
  </div> 
  <div class="space-bttn">
    <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">FRUIT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
           <button class="button-add">MINT
             <i  class="glyphicon glyphicon-plus" style="color: #00C16C; float: right;margin-right: 10px;">
             </i>
          </button>
        </a>
      </span>
      <span>
        <a href="#">
         <button class="button-close">CHIVES
           <i  class="glyphicon glyphicon-remove" style="color: white; float: right;margin-right: 10px;">
           </i>
         </button>
        </a>
     </span>
</div> 
</div>

<footer>
<div class="footer">
<button class="dashboard-bttn">GO TO MY DASHBOARD</button>  
</div>
</footer>  

