 <mat-toolbar class="header">
      <div class="logo pull-left">
        <img src="assets/images/Logo (1).PNG" id="logo1" width="200px" height="50px">
      </div>
      <span class="example-spacer"></span>
      <div fxlayout="row">
         <div class="topnav">
            <a  href="#home">My Work</a>
            <a href="#news"><mat-icon class="icon">alarm_add</mat-icon></a>
            <a href="#contact"><mat-icon class="icon">alarm</mat-icon></a>
            <a href="#about">Profile</a>
            <a href="#about"> <mat-icon class="icon">account_circle</mat-icon></a>
          </div>
      </div>
  </mat-toolbar>
    <div fxLayout="row"  style="margin-top: 20px;" >
        <div class="pdf">	<mat-icon>reply</mat-icon>
            Back to PDF file
        </div>
       
        <div fxFlex=40 style="margin: 0 auto; ;">
            <input class="search-bar" type="text"placeholder="Search...">
        </div>   
    </div>

    <div fxLayout="row" style="margin-top: 30px;" >
      <div fxFlex=49 style="border: 1px solid black;padding: 300px;margin-left: 10px;">
            <div fxLayout="row">
              <div fxFlex="100" style=" margin-top: -300px;">
                 <mat-card>
                    <div fxLayout="row">
                       <!-- <button mat-raised-button>Basic</button> -->
                        <input type="number">
                       <mat-icon>arrow_downward</mat-icon>
                       <mat-icon>arrow_upward</mat-icon>
                       <div fxLayout="row" style="margin-left: 300px;">
                          <mat-icon>add_circle_outline</mat-icon>
                          <mat-icon>remove_circle_outline</mat-icon>
                        </div>
                    </div>
                  </mat-card> 
              </div>
            </div>
            <div fxLayout="row"  fxLayoutAlign="center start" style="margin-top: -210px;">
                <div fxFlex="15" style="margin-right: 40px;margin-left: -90px;">
                    <img src="../../assets/images/lg.PNG" width="80px" height="100px"> 
                </div>
                <div fxFlex="60" class="material-design">
                    <div style="margin-left:-110px;margin-top: -15px;">Control list available at Control list available available</div>
                    <div class="material-text">Material and Design</div>
                    <div style="margin-left:-110px; margin-bottom: -15px;">Control list available at Control list available at</div>
                </div>
                <div fxFlex="15">
                    <img src="../../assets/images/lg.PNG" width="80px" height="100px;margin-left:10px"> 
                </div>
            </div>
            <div>
                <hr class="hr-line">
            </div>
            <div>
                <p class="paragraph">Contrary to popular belief, Lorem Ipsum is not simply<br> random text
                    not simply random text 
                </p>
            </div>
            <div>
                <p class="paragraph2">Contrary to popular belief </p>
            </div>
            <div>
                <p class="paragraph3">Contrary to popular belief, Lorem Contrary to popular belief, Lorem </p>
            </div>
            <div> 
               <hr style="width: 870px; margin-left: -270px;">  
            </div>  
          <div fxLayout="row">
            <div fxFlex="30" style="margin-left: -280px;">
               <div> ARTICLE INFO
               </div>
                 <hr style="width: 150px;">
                 <pre style="margin-left: -190px;">
                         popular belief
                         popular belief
                         popular belief
                         popular belief
                  </pre>
                  <hr style="width: 150px;">
                  <pre style="margin-left: -150px;">
                    popular belief
                    popular belief
                    popular belief
                    popular belief
                  </pre>
                  <hr style="width: 150px;">  
            </div>  
            <div fxFlex="70" style="margin-left:20px">
              <div style="margin-left: 130px;"> SUBSTRACT
              </div>
                 <hr style="width: 630px; margin-left: 120px;">
                 <pre>
                Lorem Ipsum is simply dummy text of the printing and dummy text of the printing and 
                typesetting industry.  Lorem Ipsum has printing and dummy text of the printing and 
                been the industry's standard dummy text printing and dummy text of the printing and 
                ever since the 1500s, when an unknown printing and dummy text of the printing and 
                of type and scrambled it to make a type printing and dummy text of the printing and 
                remaining essentially unchanged. It was printing and  dummy text of the printing and 
                Lorem Ipsum is simply dummy text of the printing and dummy text of the printing and 
                typ esetting industry.  Lorem Ipsum has printing and dummy text of the printing and 
                been the industry's standard dummy text printing and dummy text of the printing and 
                ever since the 1500s, when an unknown printing and dummy. 
                </pre>
            </div> 
          </div> 
          <hr style="width: 630px; margin-left: -25px;"> 
      </div>
    
      <div fxFlex=49 style="border: 1px solid black;margin-left: 20px;">
        <mat-tab-group>
          <mat-tab label="Extracted Data">
            <div class="example-large-box mat-elevation-z4">
              <div fxLayout="column" >
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Sentence
                      </div>
                      <div fxFlex class="row">Keyword
                      </div>
                  </div>
                  <div fxLayoyt="column">
                   <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex=5>1
                    </div> 
                    <div fxFlex="37" class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                    <div fxFlex="37" class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      <div fxFlex="20">
                      <button mat-raised-button style="background-color: rgb(131, 230, 230);">Basic Text</button>
                      </div>
                    </div>
                   </div>
                   <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex=5>2
                    </div> 
                    <div fxFlex="37" class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                    <div fxFlex="37" class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      <div fxFlex="20">
                      <button mat-raised-button style="background-color: rgb(131, 230, 230);">Basic Text</button>
                      </div>
                    </div>
                   </div>
                  </div> 
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">Keyword
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">Doi
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">Journal
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">Publisher
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">year
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                    <div fxFlex class="row">Figure
                    </div>
                    <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                   <div fxFlex class="row">Tables
                   </div>
                   <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                   </div>
                  </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Unprocessed Data">
            <div class="example-large-box mat-elevation-z4">
              <mat-accordion>
                <mat-expansion-panel style="max-width: 100%;" hideToggle>
                  <mat-expansion-panel-header style="width: 100%;background-color: #add8e6;">
                    <div>Paper Information
                    </div>
                  </mat-expansion-panel-header>
                  <div fxLayout="column" >
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                        <div fxFlex class="row">Title
                        </div>
                        <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Author
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Keyword
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Doi
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Journal
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Publisher
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">year
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                      <div fxFlex class="row">Figure
                      </div>
                      <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="space">
                     <div fxFlex class="row">Tables
                     </div>
                     <div fxFlex class="cell">Delta Content the quick brown fox jumps over the lazy dog
                     </div>
                    </div>
                </div>
                </mat-expansion-panel>
              </mat-accordion> 
              <mat-accordion>
                <mat-expansion-panel style="max-width: 100%;" hideToggle>
                  <mat-expansion-panel-header style="width: 100%;background-color: #add8e6;">
                    <div>Composition
                    </div>
                  </mat-expansion-panel-header>
                  
                      <mat-accordion>
                        <div>Alloys Found
                        </div>
                        <mat-expansion-panel style="max-width: 100%;" hideToggle>
                          <mat-expansion-panel-header style="width: 100%;background-color: #cde4ec;">
                           <div>#1
                           </div>
                           <div style="margin-left: 20px;">Al-0.5Sc
                           </div>
                           <div style="margin-left: 600px;">
                            <mat-icon style="color: darkcyan;">create</mat-icon>
                           
                            <mat-icon  style="color: darkcyan;">delete</mat-icon>
                             </div>
                          </mat-expansion-panel-header>
                               <div style="width: 100%; background-color: white; ">
                                   <table>
                                     <tr  class="border_bottom">
                                       <th >All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                     </tr>
                                    
                                     <tr>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                     </tr>
                                   </table>
                                </div>
                        </mat-expansion-panel>
                      </mat-accordion> 
                      <mat-accordion>
                       
                        <mat-expansion-panel style="max-width: 100%;" hideToggle>
                          <mat-expansion-panel-header style="width: 100%;background-color: #cde4ec;">
                           <div>#2
                           </div>
                           <div style="margin-left: 20px;">Al-0.5Sc
                           </div>
                           <div style="margin-left: 600px;">
                            <mat-icon style="color: darkcyan;">create</mat-icon>
                           
                            <mat-icon  style="color: darkcyan;">delete</mat-icon>
                             </div>
                          </mat-expansion-panel-header>
                               <div style="width: 100%; background-color: white; ">
                                   <table>
                                     <tr  class="border_bottom">
                                       <th >All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                     </tr>
                                    
                                     <tr>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                     </tr>
                                   </table>
                                </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel style="max-width: 100%;" hideToggle>
                          <mat-expansion-panel-header style="width: 100%;background-color: #cde4ec;">
                           <div>#3
                           </div>
                           <div style="margin-left: 20px;">Al-0.5Sc
                           </div>
                           <div style="margin-left: 600px;">
                            <mat-icon style="color: darkcyan;">create</mat-icon>
                           
                            <mat-icon  style="color: darkcyan;">delete</mat-icon>
                             </div>
                          </mat-expansion-panel-header>
                               <div style="width: 100%; background-color: white; ">
                                   <table>
                                     <tr  class="border_bottom">
                                       <th >All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                       <th>All</th>
                                     </tr>
                                    
                                     <tr>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                       <td>99.18</td>
                                     </tr>
                                   </table>
                                </div>
                        </mat-expansion-panel>
                      </mat-accordion> 
                </mat-expansion-panel>
              </mat-accordion> 
              <mat-accordion>
                <mat-expansion-panel style="max-width: 100%;background-color: #add8e6;" hideToggle>
                  <mat-expansion-panel-header style="width: 100%;">
                    <div>Composition
                    </div>
                  </mat-expansion-panel-header>
                    <div style="width: 100%; background-color: white; ">
                        <img src="../../assets/images/Capture.PNG" width="100px" height="100px" style="margin-left: 15px;"> 
                    </div>
                </mat-expansion-panel>
              </mat-accordion>  
              <mat-accordion>
                <mat-expansion-panel style="max-width: 100%;" hideToggle>
                  <mat-expansion-panel-header style="width: 100%;background-color: #add8e6;">
                    <div>Process History Data
                    </div>
                  </mat-expansion-panel-header>
                     <div fxLayout="column">
                         <div fxFlex="40" style="border: 1px solid black;padding: 10px; margin: 20px;">Solid Solution
                         </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-left: 120px;">
                          <div fxFlex="35" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                          <div fxFlex="25" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                          <div fxFlex="25" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                        </div>
                        <div fxFlex="40" style="border: 1px solid black;padding: 10px; margin: 20px;">Solid Solution
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-left: 120px;">
                          <div fxFlex="35" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                          <div fxFlex="25" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                          <div fxFlex="25" style="border: 1px solid black;padding: 10px;">Solid Solution
                          </div>
                        </div>
                     </div>
                   
                </mat-expansion-panel>
              </mat-accordion>  
              <mat-accordion>
                <mat-expansion-panel style="max-width: 100%;" hideToggle>
                  <mat-expansion-panel-header style="width: 100%;background-color: #add8e6;">
                    <div>Struture Data
                    </div>
                  </mat-expansion-panel-header>
                    <div style="width: 100%; background-color: white; ">
                       <table>
                         <tr class="border_bottom">
                           <th class="border_right"></th>
                           <th class="border_right">Composition</th>
                           <th class="border_right"> Composition</th>
                           <th class="border_right">Composition</th>
                           <th >Composition</th>
                         </tr>
                         <tr >
                           <td style=" border-right: 2px solid darkcyan;">1</td> 
                           <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                           <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                           <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                           <td>  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                         </tr>  
                         <tr >
                          <td style=" border-right: 2px solid darkcyan;">1</td> 
                          <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                          <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                          <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                          <td>  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                        </tr>  
                        <tr>
                          <td style=" border-right: 2px solid darkcyan;">1</td> 
                          <td style=" border-right: 2px solid darkcyan;">  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                          <td style=" border-right: 2px solid darkcyan;"> </td> 
                          <td style=" border-right: 2px solid darkcyan;"> </td> 
                          <td>  <mat-checkbox class="example-margin"></mat-checkbox></td> 
                        </tr>  
                       </table>  
                    </div>
                </mat-expansion-panel>
              </mat-accordion>    
            </div>
          </mat-tab>
        </mat-tab-group>
       
       
         
       
      </div>
    </div>
   
     
  


    