<table>
    <tr>
      <th>Name</th>
      <th>Created By</th>
      <th>Feature</th>
      <th>Size</th>
      <th>Last Access</th>
    </tr>
    <tr>
      <td>
        <div class="dataset-frame">
            <div class="dataset">
                <span class="data-text">Datasets</span>   
            </div> 
           <div class="star">
               <mat-icon>star_border</mat-icon>
          </div>
        </div>
      </td>
      <td>
           <span class="data-text">Ali</span> 
      </td>
      <td>
        <span class="data-text">Ti,Alloy</span> 
      </td>
      <td>
        <span class="data-text">115(7.6GB)</span> 
      </td>
      <td>
        <div class="dataset-frame">
            <span class="data-text"> Dec, 12,2020</span>   
            <div class="star"><mat-icon>more_vert</mat-icon> </div> 
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dataset-frame">
            <div class="dataset"><span class="data-text">Datasets</span>   </div> 
           <div class="star">
               <mat-icon>star_border</mat-icon>
          </div>
        </div>
      </td>
      <td>
           <span class="data-text">Ali</span> 
      </td>
      <td>
        <span class="data-text">Ti,Alloy</span> 
      </td>
      <td>
        <span class="data-text">115(7.6GB)</span> 
      </td>
      <td>
        <div class="dataset-frame">
            <span class="data-text"> Dec, 12,2020</span>   
            <div class="star"><mat-icon>more_vert</mat-icon></div> 
        </div>
      </td>
    </tr>
    <tr>
        <td>
          <div class="dataset-frame">
              <div class="dataset">
                  <span class="data-text">Datasets</span>   
               </div> 
             <div class="star"><mat-icon>star_border</mat-icon></div>
          </div>
        </td>
        <td>
             <span class="data-text">Ali</span> 
        </td>
        <td>
          <span class="data-text">Ti,Alloy</span> 
        </td>
        <td>
          <span class="data-text">115(7.6GB)</span> 
        </td>
        <td>
          <div class="dataset-frame">
              <span class="data-text"> Dec, 12,2020</span>   
              <div class="star"> <mat-icon>more_vert</mat-icon></div> 
          </div>
        </td>
    </tr>
</table>

